.calculadora{
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 0;
    width: 50%;
    height: 30em;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
}

.tela{
    border: 4px solid black;
    border-radius: 5px;
    padding: 0;
    width: 100%;
    height: 150px;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
}

.buttonsBox{
    padding: 0;
    width: 100%;
    height: 100px;
    margin: 0 10px;
    display: flex;
}
button{
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.limpar{
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    margin: 10px auto;
    display: flex;
}